# Ignore system & Git installation files
bin/
cmd/
dev/
etc/
mingw64/
usr/
git-bash.exe
git-cmd.exe
unins000.*
ReleaseNotes.html
LICENSE.txt

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/

# Ignore database files (if any)
*.db
